.web_header{
    text-align: center;
}
.web_header img{
    height: 100px;
}
.web_header h1{
    color: #000F36;
    margin: 0;
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.web_header p{
    color: #000F36;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.web_header hr{
    width: 200px;
    color: #000F36;
}